html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", serif;
}

header{
  min-height: 100vh;
}

.hero-slider{
  min-height: 90vh;
}
.owl-carousel.owl-drag .owl-item{
  height: 90vh !important;
}
.hero-section1{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/images/background/home2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.hero-section2{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('/images/background/slideshow-1_f9506a0f-cd22-46e1-89e6-dfb216eda48b_1920x950.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.hero-section3{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/images/background/s1_1920x1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.hero-h2{
  font-size: 35px;
  color: #fff;
  margin-bottom: 0;
}
.hero-h1{
  font-size: 60px;
  line-height: 64px;
  color: #fff;
}
.hero-h4{
  font-size: 18px;
  color: #fff;
  margin-bottom: 0;
}
.hero-para{
  font-size: 15px;
  color: #fff;
}
.hero-btn{
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  border: 0;
  font-size: 20px;
  height: 60px;
  width: 300px;
  transition: all 0.3s ease-in-out;
}
.hero-btn:hover{
  background-color: #fff;
  color: #000;
}

/* Navigation */
.navigation {
  background-color: black;
  color: white;
  padding: 15px 0;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.nav-link {
  text-decoration: none;
  margin: 0 8px;
  font-size: 18px;
  color: #ddd;
  font-weight: 500;
}

.nav-link:hover {
  color: #fff;
}

.icon {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

.product-section{
  padding: 50px 0;
}

.product1 .pro {
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  background-color: #fff;
}
.product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}
.product1 .pro img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  transition: transform 0.3s ease;
}
.product1 .pro:hover img {
  transform: scale(1.05);
}
.discount {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: #d6001c;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
.product1 .pro .des span {
  color: #606063;
  font-size: 18px;
}
.product1 .pro .des h5 {
  color: #1a1a1a;
  font-size: 18px;
  margin-bottom: 0;
  transition: color 0.3s ease;
}
.product1 .pro:hover .des h5 {
  color: #088178;
}
.product1 .pro .des .star i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}
.product1 .pro .des h4 ins, .product1 .pro .des h4 i{
  font-size: 18px;
  padding-top: 7px;
  font-weight: 700;
  color: #088178;
}
.product1 .pro .des h4 del{
  font-size: 15px;
  padding-top: 7px;
  font-weight: 700;
  color: #767676;
}
.product1 .pro .cart-btn {
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
  padding: 8px 15px;
  background-color: #0e0e0e;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  right: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.product1 .pro .cart-btn:hover {
  background-color: #088178;
  transform: scale(1.1);
}

.pagination .page-link {
  /* color: #4caf50; */
  height: 40px;
  width: 40px;
  text-decoration: none;
  font-size: 15px;
  color: #222;
  border: 1px solid #222;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  transition: all 0.2s ease-in-out;
  box-shadow: none;
}

.pagination .active .page-link {
  background-color: #222;
  color: #fff;
  outline: none;
  border: 1px solid #222;
}




/* footer  */
footer {
  background: #000;
}
.footer-container {
  padding: 60px 0;
}
.footer-container .content_1 img {
  width: 240px;
}
.footer-container h4 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-size: 18px;
}
.footer-container a {
  display: block;
  text-decoration: none;
  color: #aaa;
  margin-bottom: 10px;
  font-size: 14px;
}
.footer-container .content_1 p,
.footer-container .content_4 p {
  color: #aaa;
  margin-bottom: 15px;
  font-size: 15px;
}
.footer-container .content_4 .f-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #767676;
  padding: 10px;
}
.footer-container .content_4 input[type="email"] {
  background-color: #000;
  border: none;
  color: #fff;
  outline: none;
}
.footer-container .content_4 i{
  color: #fff;
}
.footer-hr{
  border-top: 1px solid #aaa;
}
.f-design {
  width: 100%;
  color: #fff;
  text-align: center;
}
.f-design .f-design-txt {
  border-top: 1px solid #aaa;
  padding: 25px 0;
}
.f-design .f-design-txt p{
  font-size: 17px;
  color: #aaa;
  border-bottom: 0;
}


@media(min-width:576px){
  .hero-h4{
    font-size: 25px;
  }
  .hero-h2{
    font-size: 45px;
  }
  .hero-h1{
    font-size: 70px;
  }
  .hero-para{
    font-size: 20px;
  }
  .footer-container h4{
    font-size: 20px;
  }
}

@media(min-width:768px){
  .logo{
    font-size: 30px;
  }
  .footer-container .content_1 p,.footer-container .content_4 p{
    font-size: 17px;
  }
  .footer-container a{
    font-size: 17px;
  }
  .f-design .f-design-txt p{
    font-size: 20px;
  }
}

@media(min-width:992px){
  
}

@media(min-width:1200px){
  
}